* {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    /* color: gray; */
}

body {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    color: gray;


}

.cmn-effect {
    margin-top: 3rem;
    padding-top: 5rem;
}

nav {
    position: sticky;
    padding-top: .5vw;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    /* padding: 1vw 0vw; */
    z-index: 10000;
    border-color: rgb(121 128 138 / 0.15);

}

#navBar {
    display: flex;
    flex-direction: row;
    /* justify-content: end;
    justify-items: end; */
}

#cmp-con {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    min-width: 200px;
}

#cmp-name {
    /* position: absolute; */
    /* margin-left: 5vw; */
    /* margin-top: 2vw; */
}

#nav-links-con {
    /* if remove it take new line position */
    /* position: absolute;  */
    /* display: flex; */
    /* position: absolute; */
    display: flex;
    justify-content: end;
    align-items: center;
    align-content: center;
    width: 100%;
}


a {
    text-decoration: none;
}

h1 {
    font-size: 2.7rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

h1,
h3 {
    /* color: black; */
    color: #181c31;

    width: fit-content;
}
p{
    font-size: 17px;
}
hr{
    color: rgb(236,236,238);
    /* background: rgb(236,236,238); */
}

.nav-links {
    padding: 1rem;
    font-weight: 500;
    color: #666;
}

.nav-links:hover {
    color: rgb(21, 76, 139);
    transition: 1.2s ease;
}
#main-con {
    /* border: solid; */
    margin: 0rem .5rem;


}
#main-page {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 3vw 2vw;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    width: 98%; */

        display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    /* gap: 10vw; */
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 100%; */
    /* margin-top: 6rem; */
    margin: 6rem 2rem;



    
}


#cmp-info-con {
    width: 60%;
    /* max-width: 90%; */
    /* margin-left: 2rem; */
    /* border: solid; */
}
#cmp-vid-con {
    /* border: solid; */
    width: 40%;
    height: auto;
    /* padding: 1rem; */

}
.main-page-h1{
    color: rgb(24 28 49); 
    font-weight: 550; 
    font-size: 2.6rem; 
    margin-right:7rem;
}
#cmp-info-con iframe{
    width: 18.7rem;
    height: 12.5rem;
}
#cmp-info-head{
    margin-right: 5%;
}



.cmp-vid {
    width: 19rem;
    height: auto;
    /* visibility: hidden; */
    border-radius: 3rem;
        margin-left: auto;
    margin-right: auto;
    margin: -2.3rem 4.5rem;
}


#circle {
    width: 28rem;
    height: 28rem;
    /* width: 530px; */
    /* height: 450px; */
    background: rgb(21, 76, 139);
    border-radius: 100%;
    margin-top: -6rem;
    position: relative;
}
#dimond-svg{
    width: fit-content;
    float: right;
    margin-top: 1rem;
}
#wave-svg{
    width: fit-content;
    margin-top: -10.5rem;
}


#app-download-link {
    display: flex;
    gap: 1vw;
}

#app-download-link img {
    width: 10rem;
}

#app-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    background-color: rgb(248, 250, 251);
    width: 100%;
    margin-top: 13vw;
    gap: 3rem;
}
#app-features div {
    text-align: center;
    justify-items: center;
    /* padding: 2vw; */
    width: 16vw;
    margin: 4vw 0vw;
}
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 540;
    font-style: normal;
    /* font-size: 1.3vw; */
}
#app-features h3{
    color: #314259;
    font-weight: 600;
    font-size: 1.6rem;
    margin-top: -.1rem;
}
#app-features p{
        color: #314259;
        margin-top: -1rem;
}
.icon-img {
    width: 64px;
    height: 64px;
    align-self: baseline;
    justify-content: baseline;
    justify-items: baseline;
}



.icons {
    font-size: 50px;
    color: rgb(56, 69, 155);
}

#app-ss-con {
    text-align: center;
    padding: 0vw 10vw;
    background: linear-gradient(to right,white,white, white,rgb(220,224,240));


}

/* background: rgb(255,255,255); */

#app-ss-con p,
#best-features-head p  {
    font-size: 1.3rem;
    font-weight: 400;
    color: #314259;

}
#app-ss-con p{
    padding: 0rem 8rem;
    margin-top: -1rem;
    
}
.ss-header {
    justify-items: center;
    color: #314259;

}

#app-ss {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    /* gap: 3.5rem; */
    margin-top: 5.3rem;

}

#app-ss img {
    border-radius: 1vw;
    width: 17rem;
}

#best-features-con {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

#best-features-head {
    width: 55%;
}
#best-features-head h1{
}

#feat-cards-con {
    margin-top: 5rem;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    /* border: solid; */
    border-radius: 1rem;
    /* padding: 3rem 3rem; */
    
    /* box-shadow: -.5px -.5px 2px; */
        box-shadow: 0px 1px 5px rgba(45, 74, 170, 0.14);

}

#feat-cards {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    /* columns:3; */
    padding-top: 6rem;
    padding-bottom: 2vw;
    padding-left: 1rem;
    padding-right: 1vw;
    /* gap: 3vw; */
    position: relative;
}

.feat-icons {
    background: rgb(233, 235, 244);
    border-radius: 1.5rem;
    width: fit-content;
    padding: 1.4rem;
}


svg {
    width: 5.3vw;
    height: auto;
    
}
.feat-icons:hover, svg:hover{
    background: rgb(56, 69, 155);
    color: white;
    border-radius: 1vw;
    transition: 1.5s ease;
    cursor: pointer;
}


.feat-cards-items {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    padding-left: 2rem ;
    padding-right: 2rem ;
    padding-bottom: 3rem ;
    /* border: solid; */
    /* justify-content: center; */
    /* justify-items: center; */
}
.feat-cards-items h3{
    font-weight: 500;
    font-size: 1.4rem;
}
.feat-cards-items p{
    color: #314259;
    margin-top: -.8rem;
    font-size: 1.15rem;
}

/* .feat-cards-items-p{
    font-size: .5rem;
} */
#about-app-con1 {
    display: flex;
    flex-direction: row;
    /* padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 4vw;
    padding-right: 4vw; */
    padding: 1vw 2rem;
    align-items: center;
    background: linear-gradient(to right,white,white, white,rgb(220,224,240));

}
#about-app-con1-right h1{
    font-size: 2.1rem;
    margin-right: 1rem;
}
#about-app-con{
    padding-top: 7rem;
}

/* #about-app-con1 img {
    width: 290px;
    height: 500px;
    

} */

#about-app-con1-left {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    /* border: solid; */
    display: flex;
    justify-content: center;
}

#about-app-con1-right {
    word-wrap: break-word;
    word-break: normal;
    width: 50%;
    /* border: solid; */
    padding: 0rem 1rem;


}

#about-app-con1-right p {
    font-size: larger;
    text-align: justify;
    color: #314259;
    /* padding: 1rem; */
    font-size: 1.3rem;
}

#about-app-con2-left {
    width: 50%;
    /* padding: 0rem 2rem; */
    /* text-align: justify; */
}
#about-app-con2-left h3{
    margin-top: 3rem;
    color:#314259;
    font-size: 1.2rem;
    font-weight: 600;
    padding-right: 5rem;
    margin-bottom: -1rem;
    /* line-height: -10px; */
}
#about-app-con2-left li{
 font-size: 1.1rem;
    font-weight: 400;
    list-style-image: url(/assets/tick_icon.svg);
    color: #314259;
    margin-left: -1rem;
    
}
li::marker {
    font-size: 2.3rem;
}

#about-app-con2-right {
    /* width: 50%; */    
    margin-left: auto;
    margin-right: auto;

}

ul{
    list-style-image: url('/assets/tick_icon.svg');
    font-size: larger;
    color: rgb(56, 69, 155);
    
}
/* li::marker{
    font-size: xx-large;
} */

#work-process-head{
    justify-items: center;
    text-align: center;
    margin-left: 20vw;
    margin-right: 20vw;

}

#custom-con{
    justify-items: center;
}
#custom-con img{
    width: 100%;
    height: auto;
}
#dwn-con{
    padding-top: 3.5rem;
}
#download-banner-con h1,#download-banner-con p{
    color: white;

}
#download-banner-con{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid;
    padding: 0vw 4rem;
    background: rgba(56, 69, 155, 0.9);
    background: linear-gradient(90deg, #283693d3, #637ddb);
    border-radius: 1vw;
    
    
}
#download-banner-left{
    width: 50%;
    padding: 0rem 0rem;
    
}
#download-banner-left h1{
    font-size: 2.8vw;
    padding-top: 3rem;
    padding-right: .5rem;
}
#download-banner-left p{
    font-weight: 400;
    font-size: 1.1rem;

}
/* #download-banner-left div{
   width: fit-content;
    gap: 1vw;
    margin-top: 1vw;
} */
#download-banner-left img{
    width: 10rem;
}

#download-banner-right{
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    bottom: 0;
    margin-bottom: -0.4vw;
    margin-left: auto;
    margin-right: auto;
    gap: 2vw;
    width: 50%;
    padding-left: 1rem;
}
/* #download-banner-right img{
    width: 14rem;
    margin-top: 3vw;
} */
/* .dwn-right-img1{
    width: 5rem;
} */


#test-card-con{
    overflow: hidden;
    margin-top: 4rem;
}
#test-card-box{
    margin: 1vw 8vw;
    display: flex;
    flex-direction: row;
    gap: 2vw;
}
#test-head{
    justify-items: center;
    text-align: center;
    padding: 0vw 14.8rem;
    margin-left: auto;
    margin-right: auto;
}

#test-card{
    /* background: rgba(43, 38, 38, 0.383); */
    width: 100vw;
    padding: 1vw 1.5rem;
    border-radius: 1rem;
    box-shadow: 0px 1px 5px rgba(45, 74, 170, 0.14);
}
#test-card-head{
    /* padding-bottom: 20rem; */
}
#test-card p{
    color: black;
    padding-bottom: 2rem;

}
.test-card-img{
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
}
#test-card-lwr{
    display: flex;
    align-items: center;
    gap: 2vw;
    justify-content:space-between;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
}
#test-card-lwr div,#test-card-lwr h4, #test-card-lwr p {
    margin: -.1vw 0vw;
    
}
#test-card-lwr-left{
    display: flex;
    align-items: center;
    float: left;
}
#test-card-lwr-left div{
    padding: .2vw;
}
#test-card-lwr-right{
    float: right;

}

#contact-form-con{
    /* width: 60vw; */
    
}

#contact-form-head{
    justify-items: center;
    padding: 0vw 20vw;
    text-align: center;
    /* margin-left: auto;
    nav-right: auto; */
    
}
#contact-form-head h1{
    margin-top: 1rem;
}
#contact-form-head p{
    font-size: 1.2rem;
    font-weight: 400;
    color: #314259;
    margin-top: -.6rem;


}
#captcha-text p{
    font-size: 1rem;
    font-weight: 300;
}

#form-con{
/* 
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2vw;  
    margin-top: 5vw;  
    /* padding-left: 15vw;
    padding-right: 15vw;  */
    /* justify-items: center;  */
    
    justify-content: center; 
    width: 77%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(248,250,251);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: none; */
    padding-bottom: 2rem;
    margin-top: 4.5rem;
    /* gap: 1rem; */
    
    
}
#form-con textarea{
    width: 49rem;
    border-radius: .5vw;
    
}
#form-con input[type='submit']{
    width: fit-content;
    background: rgb(40,54,147);
    color: white;
    padding: 1vw 3vw;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
        
}
#form-con input[type='submit']:hover{
    transform: scale(1.1);
    transition: .2s ease-in-out;
}
 #form-con input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    border: solid blue;
}
#form-con input {
    width: 24rem;
    padding: 1.1rem 1.5rem;
    border-radius: .5vw;
        outline: 2px solid transparent;
        border-color: rgb(24 28 49 / 0.1);
        font-size: 1rem;
}

.input-fields{
    outline: none;
    /* outline-offset: 76rem; */
    font-size: 1rem;
    width: 48%;
    float: left;
    padding: .5rem 1.5rem;
    font-weight: 400;
    margin-top: 2rem;
    border-radius: .2rem;
    margin-right: 1rem;
    resize: none;
    cursor: text;
}

#terms p {
    width: 45rem;
    text-align: center;
}



#dropBtn {
    display: none;
}


#footer-con{
    text-align: center;
    background: rgb(40,54,147);
    color: white;
    /* margin: 0vw -10vw -2vw -1vw; */
    position: relative;
    width: 100%;
    margin-left: -1vw;
    margin-bottom: -2vw;
}
#footer-con p{
    color: white;
}

#what-icon{
    background: rgba(30, 170, 81, 0.90);
    width: fit-content;
    border-radius: 100%;
    padding: .5vw;
    height: fit-content;
    width: fit-content;
    position: fixed;
    /* justify-self: end; */
    justify-self: right;
    align-self:self-end;
    margin-right: 1vw;
    margin-bottom: 1vw;

}
.icon{
    color: rgb(255, 255, 255,.90);
}
#what-icon:hover{
    background: rgb(30, 170, 81);
    color: white;
    cursor: pointer;
}
#what-icon{
    animation: upDown 3s infinite ease;
}


#captcha-con {
    display: flex;
    /* border: solid; */
    width: fit-content;
    width: 22rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding: .5rem 1rem;
    border-radius: .3rem;
    font-size: .5rem;
}
/* #captcha-con div{
    width: 5rem;
} */

#captcha-con img{
    width: 4rem;
}


/* footer */


.footer{
    /* border: solid; */
        background-color: rgb(248 250 251);
        margin-top: 8rem;
        padding: 0rem .5rem;
        /* height: 60rem; */

    }
    
    #footer-con1-head{
        padding-top:3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: rgb(24 28 49);
        font-family: "Nunito Sans", sans-serif;
    }
    #footer-con1-head img{
        width: 4.5rem;
    }
    #footer-con1-head div{
        width: fit-content;
    }
    
    #footer-con1-head p{
        font-weight: 700;
        font-size: 1.2rem;
    }

    .footer-con1 svg {
        width: 1.5rem;
        /* margin-right: 1.6rem; */
        margin-bottom: 1rem;
    }
    .social-list{
        display: flex;
        gap: 1rem;
        margin-top: 1.5rem;
    }
    .footer-con2{
        display: flex;
        flex-direction: row;
        gap: 3rem;
        /* justify-content: space-between; */
        margin-top: 1rem;
    }


    .footer-col{
        width: 22%;
        /* gap: 10rem; */
    }

    .footer-col h3{
        font-size: 1.4rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .footer-col p {
    color: #181c31;
    font-weight: 400;

    }
    .footer-col li {
    font-size: 1rem;
    font-weight: 400;
    list-style: none;
    color: #181c31;
    margin-left: -2.5rem;
    padding-bottom: 1rem;
    width: fit-content;
    cursor: pointer;
}

.footer-col li:hover {
    color: rgb(40 54 147);

    transform: translateX(.5rem);

    transition: .2s ease-in-out;

}


.footer-col p{
    margin-top: -.1rem;
}
    .footer-col-last h3{
        color: #314259;
        font-size: 1rem;
    }
    .footer-col-last {
        display: flex;
        flex-direction: column;
        gap: .3rem;
    }
    .footer-col-last img {
        width: 10rem;
        /* float: left; */
        /* padding-bottom: .6rem;
        margin-right: 5rem; */
    }









@keyframes upDown{
    0%,100%{
       transform: translateY(0); 
    }
    50%{
        transform: translateY(-5vw); 
        
    }
    

}
#about-app-con2 h1{
    font-size: 2.2rem;
}
#about-app-con2 {
    display: flex;
    flex-direction: row;
padding: 7rem 3rem;
    align-items: center;
    /* background: linear-gradient(to right, white, white, white, rgb(220, 224, 240)); */
}
#work-process-con{
    padding-top: 4.5rem;
}
#work-process-head p{
color: #314259;
font-size: 1.2rem;
margin-top: -1rem;
padding: 0rem 1rem;
font-family: "Poppins", sans-serif;
}
.feat-cards-items-p{
    color: #314259;
    font-size: 1rem;
        font-family: "Poppins", sans-serif;

}
#connect{
    position: absolute;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 21%;
    margin-top: -13rem;
}
/* #feat-cards > div{
border: solid;  
} */

.dwn-right-img1 {
    width: 14.5rem;
    padding-top: 3rem;
}

.dwn-right-img2 {
    width: 13rem;
    padding-top: 4.2rem;
}

.dwn-right-img21 {
    display: none;
}

.dwn-right-img12 {
    display: none;

}
.feat-cards-items-h3{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
    }


#test-head h1{
    font-size: 2.5rem;
}
#test-head p{
    font-weight:400;
    font-size: 1.2rem;
    color: #314259;
}
#dwn-lwr-con{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 1rem;
}

#FAQs-con {
    text-align: center;
    justify-items: center;
    font-size: 1.4rem;
    padding-top: 4rem;
    padding-bottom: 7rem;
    margin-top: 9rem;
    height: auto;
    background-color: rgb(248 250 251);
}
#FAQs-con-lwr{
    /* border: solid; */
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    
    
}
#FAQs-con-lwr div{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;

}

.b-shadow {
    width: 100%;
    text-align: left;
    padding: 1rem 2rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    /* soft shadow */
    /* cursor: pointer; */
    transition: box-shadow 0.3s ease;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.faq-btn::after {
    content: "+";
    font-size: 2.6rem;
    /* line-height: 1.75rem; */
    font-weight: 600;
    color: #283693;
}


























@media only screen and (max-width: 480px) {
    /* main-con */

    section{
        width: 100%;
    }
    nav{
        /* border: solid; */
    }
    p{
        color: #314259;
    }
    #custom-con img{
        width: 90vw;
    }
    #dropBtn {
        display: inline;
        justify-content: end;
        cursor: pointer;
    }

        #main-page {
        flex-direction: column;
        width: 100%;
        /* border: solid; */
        margin: 0.3rem;
        height: 85rem;
    }

        /* #main-page div {
        margin-top: 30px;
        width: 100%;
    } */

    #feat-cards {
        flex-direction: column;
        /* width: 100%; */
    }

    /* .feat-icons{
        padding: 2vw;
        border-radius: 2vw;
    } */
    .feat-cards-items {
        margin-top: 50px;
        width: 100%;
        padding: 0rem 1rem;

    }

    #best-features-head {
        width: 100%;
    }

    #app-ss {
        flex-direction: column;
    }

        #app-ss img {
        width: 18rem;
        height: auto;
        border-radius: 1.5rem;
    }

    #nav-links-items {
        display: none;
    }

    #about-app-con1{
        flex-direction: column;
        width: 100%;
        background: white;
    }

    #download-banner-con{
        flex-direction: column;
        border-radius: 1rem;
        padding: 0vw .2rem;
    text-align: center;
    margin: 0rem .3rem;
    }

    #form-con input,#form-con textarea {
        width: 100%;
    }
    #main-page > div {
        width: 100%;
    }
    #circle {
    width: 23rem;
    height: 23rem;
    /* width: 530px; */
    /* height: 450px; */
    background: rgb(21, 76, 139);
    border-radius: 100%;
    margin-top: -6rem;
    position: relative;
}
    .cmp-vid {
        width: 20rem;
        margin: -1.3rem 1.5rem;
    }
.main-page-h1{
    font-size: 1.8rem;
    margin-right: 0rem;
}
#cmp-info-con{
    margin-top: 5rem;
    /* border: solid; */
    height: 42rem;
}
#main-page{
    /* height: fit-content; */
    
}
#app-download-link {
    /* flex-direction: column; */
        gap: 1rem;
}
#app-download-link img {
    width: 11rem;
}
#app-features {
    flex-direction: column;
    width: 100%;
}
#app-features div{
    width: 100%;
}
.cmn-effect {
    margin-top: 2.4rem;
}
#app-ss-con {
    text-align: center;
    padding: 0vw 10vw;
    background: white;
    padding: 0rem;
}
#app-ss-con h1{
    font-size: 2rem;
}
#app-ss-con p ,  #best-features-head p{
    padding: 0rem .3rem;
    margin-top: -1rem;
    font-size: 1.4rem;
}
#best-features-head p{
    padding: 0rem .5rem;
    font-size: 1.4rem;
}
h1 {
        font-size: 1.7rem;
        margin: 4rem 0rem;
        text-align: center;
    }
#feat-cards-con {
    border-radius: 2rem;
    padding-left: 0rem;
    padding-bottom: 6rem;
}
.feat-icons {
    /* font-size: 5vw; */
    background: rgb(233, 235, 244);
    border-radius: 1.5rem;
}
.icons{
    border-radius: 1.5rem;

}
.feat-icons:hover, svg:hover {
    border-radius: 1.5rem;
    transition: 1.5s ease;
    cursor: pointer;
}

#about-app-con1 {
    display: flex;
    flex-direction: column;
    padding: 0rem .5rem;
}
#about-app-con1 img{
    width: 20rem;
}
#about-app-con1-right {
    width: 100%;
}
#about-app-con1-right p {
    font-size: 1.35rem;
    padding: 2rem 0rem;
}
#about-app-con2-left {
    width: 100%;
}
#about-app-con2 {
    display: flex;
    flex-direction: column-reverse;
padding: 7rem 0rem;
    align-items: center;
    /* background: linear-gradient(to right, white, white, white, rgb(220, 224, 240)); */
}
#about-app-con2-left h3{
    font-size: 1.4rem;
    color: #314259;
    padding: 0rem 1rem;
    text-align: left;
}
#about-app-con2-left li {
    font-size: 1.2rem;
    text-align: left;
}
#work-process-head {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#work-process-head h1{
    /* margin-top: 4rem; */
    margin: 0rem;
}
    #work-process-head p {
        padding: 0rem 0.9rem;
        font-size: 1.2rem;
        margin-top: 0rem;
    }
#work-process-con{
    padding-top: 4rem;
}
#connect{
    display: none;
}
#custom-con{
    margin-top: 8rem;
}
#download-banner-left {
    width: 100%;
    justify-items: center;
}

#dwn-lwr-con{
    display: flex;
    flex-direction: row;
}
#download-banner-right {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    margin-top: 3rem;
    align-items: center;
}
#download-banner-left h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* padding: 0rem .5rem; */
    margin-top: 1rem;
    margin-bottom: 0rem;
    
}
#download-banner-left p{
    padding: 0rem .5rem;
    font-size: 1.3rem;
}
#download-banner-con {
    
}
#download-banner-left img {
    width: 10rem;
}
#download-banner-right img {
    width: 18rem;
    padding: 0rem .5rem;
}
 .dwn-right-img1 {
        display: none;
    }

    .dwn-right-img12 {
        display: inline;
    }

    .dwn-right-img2 {
        display: none;
    }

    .dwn-right-img21 {
        display: inline;
    }
    #test-head {
    padding: 0rem;
    }
#test-con{
    margin-top: 7rem;
}
#test-head p {
    font-size: 1.2rem;
        color: #314259;
        font-weight: 400;
        padding: 0rem 1rem;
        margin-top: -3rem;
    }
    .feat-cards-items-h3{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 2rem;
        font-weight: 300;
        

    }   
    #FAQs-con-lwr div{
        /* width: 100%; */
    }
    #FAQs-con-lwr{
        width: 100%;

    }
    .b-shadow{
        padding: 1rem 1rem;
    }
    #terms p {
        width: 100%;
    }
    #captcha-con {
    width: 100%;
    }
    .footer-con2 {
        flex-direction: column;
        gap: 0rem;

    }
    .footer-col {
        width: 100%;
        gap: 0rem;
    }
}

/* justify-content:;
align-items:;
flex-direction:col ;
align-self: ;
flex-flow:;
flex-wrap:;
align-content: center;
justify-content:first baseline; */